.App {
  font-family: 'Quicksand', sans-serif;  
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.next-logo {
  height: 275px;
  width: 375px;
}

.MuiTab-label-111{
  font-family: 'Merriweather', serif;
  color: #4a4a4a;
  text-transform: uppercase;
}
.top-menu {
  padding-top: 20px;
}
.opening-soon {
  padding-top: 25px;
  padding-bottom: 25px;
}