.App {
  font-family: 'Quicksand', sans-serif;  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.next-logo {
  height: 225px;
  width: 250px;
  text-align: center;
  padding-bottom: 25px;
}

.top-menu ul li a{
  font-family: 'Merriweather', serif;
  font-size: 1.25em;
  color: #01AB99;
}

.top-menu {
border-color: #4a4a4a;
border: solid 1.25px;
border-left: none;
border-right: none;
}