.App {
  font-family: 'Quicksand', sans-serif; 
  justify-content: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.next-logo {
  height: 275px;
  width: 375px;
}

.MuiTab-label-111{
  font-family: 'Quicksand', sans-serif;
  color: #4a4a4a;
  text-transform: uppercase;
  font-weight: bolder;
}
.top-menu {
  padding-top: 20px;
}
.carousel {
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.title {
  font-family: 'Quicksand', sans-serif;
  color: #4a4a4a;
  font-weight: bolder;
}

.sign-up {
  margin-top: 25px;
  background-color: #01ab99;
  width: 100%; 
  padding: 25px;
}

.sign-up-text {
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  font-size: 1.25em;
}

.image-slide {
 transition: background-image .3s ease-in-out;
  height: 500px;
  width: 750px;
}

.slide-arrow {
  cursor: pointer;
  font-size: 2rem;
  position: fixed;

}

.slide-arrow.right {
  right: 10rem;
}

.slide-arrow.left {
  left: 10rem;
}
